@import "css modules/nord.css";

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--nord0);
}

.parent-container {
    position: absolute;
    display: flex;
    min-height: 100%;
    min-width: 100%;
}

.left-container {
    background-color: red;
    flex: 5;
    height: auto;
    width: auto;
}

.middle-container {
    background-color: blue;
    flex: 2;
    height: auto;
    width: auto;
}

.right-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: auto;
    width: auto;
}

.top-right-container {
    background-color: yellow;
    flex: 1;
    height: auto;
    width: auto;
}

.bottom-right-container {
    background-color: green;
    flex: 1;
    height: auto;
    width: auto;
}