@import "css modules/nord.css";

* {
    margin: 0;
    padding: 0;
}

.parent-container {
    position: absolute;
    display: flex;
    min-height: 100%;
    min-width: 100%;
}

.left-container {
    background-color: var(--nord0);
    padding: 5px;
    flex: 4;
    height: auto;
    width: auto;
}

.middle-container {
    background-image: url(img/image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 3;
}

.right-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: auto;
    width: auto;
}

.top-right-container {
    background-color: var(--nord0);
    padding: 5px;
    flex: 1;
    height: auto;
    width: auto;
}

.bottom-right-container {
    background-color: var(--nord3);
    padding: 5px;
    flex: 1;
    height: auto;
    width: auto;
}